body {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    font-family: "Gilroy", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    padding: 0;
}

img {
    display: block;


}

.container {
    width: 1180px;
    padding: 0 15px;
    margin: 0 auto;
}

/* #region header */

.main-header .container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    gap: 203px;
}

.header-logo {
    font-size: 20px;
    letter-spacing: -0.02em;
    color: #0c0c0c;
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-list-item {}

.header-list-link {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #0c0c0c;
    padding: 30px 0 40px;
    display: block;
}

.header-address {
    font-style: normal;
    margin-left: auto;
}

.header-address-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.address-list-item {}

.address-link {
    border: 1px solid rgba(12, 12, 12, 0.1);
    border-radius: 10px;
    padding: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0C0C0C;
}

/* #endregion header */


/* #region hero  */

.hero {
    padding: 80px 0 50px;
}

.wrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.hero-text {
    max-width: 597px;
}

.hero-title {
    font-weight: 600;
    font-size: 72px;
    line-height: 0.875;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 20px;
}

.hero-title-collection {
    color: #3350e9;
}

.hero-descr {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    max-width: 480px;
}

.hero-testimonials {
    max-width: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.hero-list {
    display: flex;

}

.hero-list-item:nth-child(2),
.hero-list-item:nth-child(3) {
    margin-left: -13px;
}

.hero-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0c0c0c;
}

.hero-link:hover,
.hero-link:focus {
    color: #3350E9;
}

/* #endregion hero */

/* #region  */
.about-us {
    padding: 50px 0;
}

.about-us .container {
    display: flex;
    gap: 40px;
}



.view-catalog-wrap {
    border-radius: 50px;
    width: 580px;
    height: 532px;
    background: #f3f3f3;
    padding: 80px 60px;
}

.about-us-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
}

.about-us-title-descr {

    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 20px;
}

.about-us-subtitle {


    line-height: 1.25;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.7);
    margin-bottom: 40px;
}

.about-us-link {
    border-radius: 16px;
    width: 160px;
    height: 48px;
    background: #3350e9;
    padding: 15px 37px 15px 38px;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: #fbfbfb;

}

.about-us-link:hover,
.about-us-link:focus {
    background: #1f3cd4;
}

/* #endregion */
/* #region catalog */

.catalog {
    padding: 50px 0;
}

.catalog-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.91667;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    margin-bottom: 40px;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 23px;
}

.catalog-item {
    width: calc((100% - 23px * 2) / 3);
    border: 1px solid rgba(12, 12, 12, 0.05);
    border-radius: 30px;
    padding: 24px 32px;
    background: #f3f3f3;
}

.catalog-subtitle {

    font-size: 20px;
    line-height: 1;
    letter-spacing: -0.02em;
    color: #0c0c0c;
    width: 304px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.catalog-item-price {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.28571;
    letter-spacing: -0.02em;
    color: rgba(12, 12, 12, 0.5);
}

/* #endregion */